<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title> Task List </title>
</head>
<body>
    
    <header> 

        <% if (task == null) { %> 

        <form action= "/create" method="post">
            <input type="text" name="task" id="task" placeholder="Insira uma tarefa"> 
            <button id="addButton" type="submit"> Adicionar</button>
        </form>

        <% } else { %>

        <form action= "/updateOne/<%= task._id %>" method="post">
            <input type="text" name="task" id="task" value="<%= task.task %>"> 
            <button id="addButton" type="submit"> Atualizar </button>
        </form>

        <% } %>
    </header>

    <section id="task">
        <ul>
            <% taskList.forEach((task) => { %>
                <li>
                    <%= task.task %> | <%= task.date.toLocaleDateString('pt-BR') %>

                    <% if (taskDelete == null) { %>
                        <a href="/getById/<%= task._id%>/update"> Editar </a>
                        <a href="/getById/<%= task._id%>/delete"> Apagar </a>
                    <% } else { %>
                        <% if (taskDelete.id == task._id) { %>
                            <a href="/deleteOne/<%= taskDelete._id%>"> SIM </a>
                            <a href="/"> NÂO </a>
                        <% } else { %>
                            <a href="/getById/<%= task._id%>/update"> Editar </a>
                            <a href="/getById/<%= task._id%>/delete"> Apagar </a>
                        <% } %>
                    <% } %>
                </li>
            <% }) %>    
        </ul>
    </section>
    <script src="script.js"></script>
</body>
</html>